<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="create-blog-content">
      <h2>Create Blog</h2>
        <form action="">
            <label for="">Blog Title</label>
            <input type="text" name="" id="title" require>
            <label for="">Blog Snipet</label>
            <input type="text" name="" id="snipet" require>
            <label for="">Blog Body</label>
            <textarea name="" id="body"></textarea>
            <button type="submit">submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
