<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Galos</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Galos</h1></a>
        <p>Net Galos Site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/creat">New Blog</a></li>
      </ul>
    </nav>
    <div class="blog-content">
      <h2>All Blog</h2>
    </div>
  </body>
</html>
